
.svn
*.o
*.a
*.gch
sauer_client
sauer_server
vcpp/sauerbraten.suo
vcpp/sauerbraten.sdf
vcpp/sauerbraten.opensdf
vcpp/sauerbraten.vcxproj.user
vcpp/Debug/
vcpp/Release/
vcpp/ipch
vcpp/*.suo
vcpp/.vs
vcpp/*.opendb
.vs/
